.breadcrumb {
	margin-top: 5px;
	margin-bottom: 5px;
	background: linear-gradient(0deg, #3358f4 0%, #1d8cf8 100%);
	justify-content: center;
	& .breadcrumb-item {
		& a {
			color: #ddd;
			transition: all 300ms ease 0s;
			&:hover {
				color:#fff;
			};
		}
		& div {
			font-weight: 300;
			color: #aaa;
		}
	}
}

.breadcrumb-item + .breadcrumb-item::before {
	color: #fff;
}