.sidenav-icon {
	margin-left: 0.75em;
	margin-right: 1.75em;
}

.navbar {
	padding: 10px;
	margin-bottom: 20px;
	text-transform: uppercase;
	font-weight: bold;
	min-width: 30%;
}

.administration-nav-link {
	position: fixed;
	padding-bottom: 1.5em;
	bottom: 0;
}

nav[aria-label="breadcrumb"] {
	// This is what the sidebar uses, 230px, use the same width
	min-width: 230px;
}

a.dropdown-toggle.nav-link {
	padding: 0.75rem 1rem;
}


.nav-pills .nav-link.active {
	background-color: #ffffff;
	color: #1d253b;
	&:hover {
		background-color: #eeeeee;
	}
}